doctype
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="strator">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" ng-app="strator">
//if IE 8
  <html class="no-js lt-ie9" ng-app="strator">
//[if gt IE 8]><!
html(ng-app="strator", lang="en").no-js
  //<![endif]

  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport", content="width=device-width")

    title

    meta(name='description', content='')

    meta(name="description"
      content="Strator client")
    meta(name="author"
      content="JM Barbier jm.barbier@solidev.net")

    link(rel="stylesheet", href="css/app.min.css", type="text/css")


    link(rel="shortcut icon"
      href="ico/favicon.png")
    link(rel="apple-touch-icon-precomposed",
      sizes="144x144"
      href="ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed",
      sizes="72x72"
      href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed",
      sizes="57x57"
      href="ico/apple-touch-icon-57-precomposed.png")

    title Strator

    // script(src='lib/modernizr/modernizr.js')
    script(src="js/app.min.js")



  body

    //if lt IE 7
      p.chromeframe
        | You are using an&nbsp;
        strong outdated
        | &nbsp;browser. Please&nbsp;
        a(href='http://browsehappy.com/') upgrade your browser
        | &nbsp;or&nbsp;
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        | &nbsp;to improve your experience.


    h1 HEADER
    div.container(ng-view)
    h1 {{title}}
